mixin form()
  form(action="/create", method="POST")
    label Milk products
      input(name="milk", type="checkbox")
    label Eggs
      input(name="eggs", type="checkbox")
    label Nuts
      input(name="nuts", type="checkbox")
    label Shellfish
      input(name="shellfish", type="checkbox")
    label Gluten(wheat)
      input(name="gluten", type="checkbox")
    label Soy
      input(name="soy", type="checkbox")
    label Fish
      input(name="fish", type="checkbox")
    button(type="submit") Create
