mixin form()
  form(action="/post", method="POST")
    label Milk products
      input(type="checkbox")
    label Eggs
      input(type="checkbox")
    label Nuts
      input(type="checkbox")
    label Shellfish
      input(type="checkbox")
    label Gluten(wheat)
      input(type="checkbox")
    label Soy
      input(type="checkbox")
    label Fish
      input(type="checkbox")
    button(type="submit") Create
