include form
include mixins

html
  head
    link(rel="stylesheet", href="/tailwind.min.css")
    link(rel="stylesheet", href="/style.css")
    title= hello
  body(class="bg-grey-lighter content")
    div(class="flex-1")
      h1(class="text-center text-4xl mt-8 mb-4") Explain Your Allergies
      div(class="flex flex-col items-center mb-4")
        p(class="max-w-lg text-center") Having allergies is terrible, but what is extremely annoying is to explain it to everyone. The worst part is than you are abroad, and you are not even sure that you are saying it right! Here you can generate a nice table where you specify all your problematic products, and you don't have to explain it by yourself.
        p(class="max-w-lg mt-2 text-center") We support english and russian languages in PDF report.

      div(class="flex flex-row justify-center")
        div(class="max-w-md")
          +form()

    +footer()

