mixin external-link(url, text)
  a(href=url, class="text-blue hover:text-blue-darker ml-2 mr-2", target="_blank", rel="noopener noreferrer")= text

mixin meta(title)
  title= title 
  meta(name="author", content="Seva Zaikov")
  meta(name="description", content="Make your allergies list in english, russian languages")
  meta(name="keywords", content="allergies, food intolerances, list to show your food allergies, food allergies abroad")
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="@blooomca")
  meta(name="twitter:title", content="Make your allergies list")
  meta(name="twitter:description", content="Make your allergies list in english, russian languages")
  meta(name="twitter:image", content="http://www.gravatar.com/avatar/1533eeac2fdcad45300a1963d5704118?s=200")


mixin footer()
  footer(class="mt-4 bg-grey-lightest p-12 text-center")
    div(class="mx-auto mb-4")
      | Made by
      +external-link("https://blog.bloomca.me/about", "Seva Zaikov")
    +external-link("https://github.com/Bloomca", "Github")
    +external-link("https://twitter.com/blooomca", "Twitter")
    a(class="text-blue hover:text-blue-darker ml-2 mr-2", href="mailto:seva.zaikov@gmail.com") seva.zaikov@gmail.com